<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

<servlet><servlet-name>pf.test.gwtIdeaTest.GwtIdeaTest GwtIdeaTestService</servlet-name><servlet-class>pf.test.gwtIdeaTest.server.GwtIdeaTestServiceImpl</servlet-class></servlet><servlet-mapping><servlet-name>pf.test.gwtIdeaTest.GwtIdeaTest GwtIdeaTestService</servlet-name><url-pattern>/GwtIdeaTest/GwtIdeaTestService</url-pattern></servlet-mapping></web-app>
